td a.btn {
    padding: 0px 7px;
}

td a.btn i {
    font-size: 14px;
    color: #fff;
}

.table td, .table th {
    padding: 3px 15px;
}
thead tr {
    background: #f3f3f3;
}
.add_new_button, .add_new_button i{
    color: #FFF !important;
}

.form-control {
    /*height: 33px;*/
    border-radius: 2px;
}
.logo_loader_image {
    height: 68px !important;
}
ul.pagination{
    float: right !important;
}

.small_button {
    padding: 2px 5px;
    border-radius: 4px;
}
.page_content_wrap {
    padding: 3.125em 0;
    background: #FFF !important;
}
.page_top_wrap .breadcrumbs a.breadcrumbs_item {
    background: #ddd;
}

/*product details*/
.modal .product_details_wrapper .product_info .product_title{
    font-size: 16px;
}
.modal .product_details_wrapper .product_info .fas{
    font-size: 14px;
}